name: Reusable Workflow
'on':
  workflow_call: 
    secrets:
      PERSONAL_TOKEN: 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
        required: true
jobs:
  reusable-job:
    runs-on: ubuntu-latest
    steps:
      - name: Say hello
        run: echo "This is running from REUSABLE repo"
